<div class="spartan-bi-card main-container-chart" [ngClass]="{'fullView':isFullView}">
  <div class="header-container-chart flex justify-between"
  [style.height]="componente?.height ? componente?.height : '220px'"
  [style.width]="componente?.width ? componente?.width : '220px'"
  style="background-color: white;">
    <div class="mr-1 gap-1">
      <span class="title">{{this.componente.label}}</span>
    </div>
    <div class="mr-1 gap-3 flex" [hidden]="false">
      <button matTooltip="Imprimir"  color="accent" (click)="onExport()"  [hidden]="true">
        <span class="material-symbols-outlined">print </span>
      </button>
      <button matTooltip="Exportar Imagen" [matMenuTriggerFor]="menu" [hidden]="true">
        <img src="./assets/imgs/ico-imgcapture.svg" alt="Exportar Imagen">
      </button>
      <button style="background-color: white;" matTooltip="Exportar Imagen" (click)="onExportImage()" [hidden]="false">
        <img src="./assets/imgs/ico-imgcapture.svg" alt="Exportar Imagen">
      </button>
      <button style="background-color: white;" matTooltip="Exportar Datos" (click)="onExportDatos()" [hidden]="false">
        <img src="./assets/imgs/ico-exportexcel.svg" alt="Exportar Datos">
      </button>      
      <button matTooltip="Vista completa" (click)="onFullView()">
        <span class="material-symbols-outlined">{{isFullView ? 'hide' : 'pan_zoom' }}</span>
      </button>
    </div>
  </div>
  <ng-content>            
  </ng-content>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span class="menu-item-text">Exportar a imagen</span>
    </button>
    <button mat-menu-item >
      <span class="menu-item-text">Exportar a pdf</span>
    </button>
  </mat-menu>
</div>