:host{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .main-container-chart{
        display: flex;
        flex-direction: column;
    }
    .fullView{
        position:absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        z-index: 10;
        ::ng-deep{
            app-line, app-pie, app-bar, app-map-with-bubbles{
                div{
                    kendo-chart{
                        height: 90vh !important;
                    }       
                }
                kendo-map{
                    height: 90vh !important;
                    .k-map{
                        height: 90vh;
                    }
                }
            }
        }

    }

    mat-icon{
        font-size: 17px;
        color: var(--bi-gray-ligth-color-2);

    }

    .material-symbols-outlined{
        color: var(--bi-gray-ligth-color-2);
        font-size: 20px;
    }
}

.menu-item-text{
    color: var(--bi-secondary-color);
}