<div class="chart-container-general-bi" [hidden]="isToExport">
  <ng-container *ngIf="this.lineData; else Loader"
  [style.height]="metadataComponente?.height ? metadataComponente?.height : '220px'"
[style.width]="metadataComponente?.width ? metadataComponente?.width : '220px'"
style="background-color: white;">  
    <kendo-chart class="chart-container-kendo-bi"  #chartLineExport >
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item
          [categories]="this.lineData.values.categories"
          [labels]="{font:ESTILO_GRAFICAS.font, color:ESTILO_GRAFICAS.secondaryColor}">
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>

      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [labels]="{font:ESTILO_GRAFICAS.font, color:ESTILO_GRAFICAS.secondaryColor}">
        </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>

      <kendo-chart-series [title]="false">
        <kendo-chart-series-item *ngFor="let item of this.lineData.values.series"
         type="line" 
         [color]="ESTILO_GRAFICAS.primaryColor"
         [labels]="{visible:true, font:ESTILO_GRAFICAS.font, color:ESTILO_GRAFICAS.primaryColor}" 
         [data]="item.data">
        </kendo-chart-series-item>
      </kendo-chart-series>

    </kendo-chart>
  </ng-container>
</div>
<ng-template #Loader>
  <app-spinner></app-spinner>
</ng-template>