<!-- <div *ngIf="this.componentsMetadata">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
    <ng-container *ngFor="let component of this.componentsMetadata.seccion.items">
      <ng-container [ngSwitch]="component?.componente">
        <div [fxFlex]="component?.divWidth" *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.BAR_CHART" class="spartan-bi-card">
          <app-bar></app-bar>
        </div>
        <div [fxFlex]="component?.divWidth" *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.LINE_CHART" class="spartan-bi-card">
          <app-line></app-line>
        </div>
        <div [fxFlex]="component?.divWidth" *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.PIE_CHART" class="spartan-bi-card">
          <app-pie></app-pie>
        </div>
        <div [fxFlex]="component?.divWidth" *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.FILTER_CHECK_WITH_SEARCH"
          class="spartan-bi-card">
          <app-filters-with-checks (checksEmit)="onFiltersWithChecks($event)"
            (searchInputEmit)="onSearchFiltersWithChecks($event)" [metadataInput]="this.metada"
            class="app-filters-with-checks"> </app-filters-with-checks>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div> -->

<div *ngIf="this.componentsMetadata">
  <div class="flex-container">
    
    <div *ngFor="let component of this.componentsMetadata.items" class="my-5 flex-item-bi" [style.width]="component?.width" style="background-color: white;"
      [style.height]="component?.height">
      <ng-container [ngSwitch]="component?.nombreComponente" style="background-color: white;">
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.INFORMATION_CARD_SIMPLE" [style.width]="component?.width" [style.height]="component?.height">
          <app-information-card-only-text [metadataComponente]="component"></app-information-card-only-text>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.INFORMATION_CARD_WITH_CHART" [style.width]="component?.width" [style.height]="component?.height">
          <app-information-card-with-chart [metadataComponente]="component" ></app-information-card-with-chart>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.INFORMATION_CARD_WITH_CHART_DONUT" [style.width]="component?.width" [style.height]="component?.height">
          <app-information-card-with-donut-chart [metadataComponente]="component" ></app-information-card-with-donut-chart>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.BAR_CHART" [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">
            <app-bar [metadataComponente]="component"></app-bar>
             <!-- <app-bar-vertical [metadataComponente]="component"></app-bar-vertical> -->
          </app-spartan-bi-card>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.BAR_VERTICAL_CHART" [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">            
             <app-bar-vertical [metadataComponente]="component"></app-bar-vertical>
          </app-spartan-bi-card>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.LINE_CHART"  [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">
            <app-line [metadataComponente]="component"></app-line>
          </app-spartan-bi-card>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.PIE_CHART" [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">
            <app-pie [metadataComponente]="component"></app-pie>
          </app-spartan-bi-card>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.DONUT_CHART" [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">
            <app-donut [metadataComponente]="component" ></app-donut>
          </app-spartan-bi-card>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.MAP_WITH_BUBLES" [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">
            <app-map-with-bubbles></app-map-with-bubbles>
          </app-spartan-bi-card>
        </div>
        <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.MAP_WITH_MARKERS" [style.width]="component?.width" [style.height]="component?.height">
          <app-spartan-bi-card [componente]="component" [style.width]="component?.width" [style.height]="component?.height">
            <app-map-with-markers [style.width]="component?.width" [style.height]="component?.height"></app-map-with-markers>
          </app-spartan-bi-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- <div *ngSwitchCase="ENUM_TIPO_DE_COMPONETES.FILTER_CHECK_WITH_SEARCH">
  <app-filters-with-checks (checksEmit)="onFiltersWithChecks($event)"
    (searchInputEmit)="onSearchFiltersWithChecks($event)" [metadataComponente]="component"
    class="app-filters-with-checks"> </app-filters-with-checks>
</div> -->