<div class="main-dashboard" *blockUI="'dashboard-full'; template: templateBlockModalUiComponent">
    <div class="dashboard">
        <!-- <app-information-card-with-donut-chart-kendo></app-information-card-with-donut-chart-kendo> -->
       <!-- <app-information-card-only-text [metadataInput]="this.metada"></app-information-card-only-text> -->
        <!-- HEADER -->
        <div class="dashbaord-header">
            <app-header [metadataInput]="this.metada" (onChangeTipoVista)="onChangeTipoVista($event)"></app-header>
        </div>

        <!-- SIDEBAR & PAGE CONTENT -->
        <div class="dashbaord-content">
            <app-bi></app-bi>
        </div>

        <!-- FOOTER -->
        <!-- <div class="dashboard-footer">
        <app-footer></app-footer>
    </div> -->
    </div>
</div>