
mat-select{
    --mdc-filled-text-field-container-color:var(--bi-gray-color)
}

::ng-deep{
    mat-date-range-input{
        background-color: red;
    }
}


.container-main-filters{
    display: flex;
}

.container-main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header-view{
    display: flex;
    width: 40%;
}

.container-image {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    display: flex;
}

.image-profile {
    height: 63px;
    width: 63px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.header-texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {

    font-size: 25px;
    font-weight: 400;
    color: var(--bi-text-color);
    text-transform: uppercase;
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    color: var(--bi-secondary-color);
    text-transform: uppercase;
}

.container-type-view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .label {
        color: var(--bi-gray-ligth-color-2);
        font-weight: 400;
    }

    .container-spartan-bi-button{
        display: flex;
        gap: 5px;
    }
}

.container-notifications{
    position: relative;
}
.container-change-theme{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -27px;
    left: -145px;
    z-index: 56;
}
.color-icon-notification {
    color: var(--bi-gray-ligth-color-2);
    font-size: 25px !important;
}

.container-filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

    flex-wrap: wrap;
}

.titleFilter {
    font-size: 0.9rem;
    color: var(--bi-text-color);
}

.container-buttons-group,
.container-buttons-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.mat-icon {
    &.active{
        color: var(--bi-secondary-color);
    }
}

.icon-container {
    position: relative;
    width: 40px;
    height: 40px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    size: 11px;
  }
  
  .default-icon,
  .hover-icon {
    position: absolute;  
    transition: opacity 0.3s;
  }
  
  .hover-icon {
    opacity: 0;
  }
  
  .icon-container:hover .default-icon {
    opacity: 0;
  }
  
  .icon-container:hover .hover-icon {
    opacity: 1;
  }
  