<div class="chart-container-general-bi">
  <ng-container *ngIf="componente; else Loader">        
    <!-- <button kendoButton (click)="onExportImage()">Exportar como imagen</button> -->
    <kendo-chart #chartBarExport
      [style.height]="componente?.height ? componente?.height : '220px'"
      [style.width]="componente?.width ? componente?.width : '220px'" style="background-color: white; box-sizing: border-box;">
      <span class="title">{{ componente.label }}</span>            
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="componente.values?.categories"
          [labels]="{font: 'bold 16px Bebas Neue, sans-serif', color: '#333'}">
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [labels]="{font: 'bold 16px Bebas Neue, sans-serif'}">
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>
      <kendo-chart-series>
        <kendo-chart-series-item type="bar"
          [labels]="{visible: true, font: 'bold 16px Bebas Neue, sans-serif', color: '#333'}" [gap]="10"
          [colorField]="'valueColor'" [data]="componente.values?.data" [visual]="radiusEnd">
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </ng-container>
  <ng-template #Loader>
    <app-spinner></app-spinner>
  </ng-template>
</div>
