<div class="chart-container-general-bi" [hidden]="isToExport">
  <ng-container *ngIf="this.componente; else Loader">
    <kendo-chart class="chart-container-kendo-bi" #chartBarExport>
      <kendo-chart-title [text]="this.componente.label"></kendo-chart-title>
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="componente.values?.categories">
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-series>
        <kendo-chart-series-item type="bar" [data]="componente.values?.data"></kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </ng-container>
</div>
<ng-template #Loader>
  <app-spinner></app-spinner>
</ng-template>