<div class="chart-container-general-bi" [hidden]="isToExport">
  <ng-container *ngIf="this.componente; else Loader">
    <kendo-chart class="chart-container-kendo-bi" #chartBarExport>

      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="componente.values?.categories" [labels]="{font:ESTILO_GRAFICAS.font, color:ESTILO_GRAFICAS.secondaryColor}" >
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>

      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [labels]="valueAxisLabels">
        </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>
      
      <kendo-chart-series>
        <kendo-chart-series-item 
        type="bar" 
        [labels]="{visible:true, font:ESTILO_GRAFICAS.font, color:ESTILO_GRAFICAS.primaryColor}" [gap]="10" 
        [colorField]="'valueColor'"
        [data]="componente.values?.data" 
        [visual]="radiusEnd">
      </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </ng-container>

</div>
<ng-template #Loader>
  <app-spinner></app-spinner>
</ng-template>